<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  This is our location and visit us anytime you want to meet children.</br>
  We also accept your donation in this hospital.</br>
  Location: Sydney,Australia
  Our business hours:</br>
  Mon-Fri 10:00am - 17:00pm</br>
  Sat 10:00am - 18:00pm</br>
  Sun 11:00am - 17:00pm
</p>

<%= link_to image_tag("28345030361_5aa084310a_m.jpg", alt: "Location"), '<"https://creativecommons.org/licenses/by-nc-nd/2.0/">(license)' %>