<% provide(:title, 'Home') %>
<div class="center jumbotron">
    <h1>Make children wish by donation</h1>

    <h2>How to donate? </br>
    1. Sign up for our membership </br>
    2. Choose the payment method </br>
    3. Make sure if you get an information that is confirmed your donate.</h2>
  
<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>